* {
  box-sizing: border-box;
}

body {
  background-color: #c91c1c;
  border: 2px solid #3a1a1a;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  border-top: 2px solid #3a1a1a;
  border-bottom: 2px solid #3a1a1a;
  border-right: 1px solid #3a1a1a;
  border-left: 1px solid #3a1a1a;
  border-collapse: collapse;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.navbar {
  background-color: #a30000;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #3a1a1a;
}

.column-image {
  float: left;
  border-radius: 10px;
  margin-right: 5px;
}

.banner-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #3a1a1a;
  margin-top: 10px;
}

.footer {
  text-align: center;
}

.container {
  text-align: center;
}

.footer-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #3a1a1a;
  margin-top: 10px;
  height: 250px;
  width: 430px;
}

.signin-button {
  background-color: burlywood;
  border-radius: 10%;
  padding: 5px;
  float: right;
  width: 100px;
  border: 1px solid #3a1a1a;
}

form {
  margin-left: 56%;
}

input,
button {
  color: #3a1a1a;
  border: 1px solid #3a1a1a;
  padding: 5px;
  border-radius: 5px;
}

.details-button {
  background-color: burlywood;
  border-radius: 2px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px solid #3a1a1a;
}
